* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo-pagina {
  font-size: 65px;
  font-family: "Kanit", sans-serif;
  color: aliceblue;
  padding-left: 200px;
}

/* TABLET y MOBILE styles */
@media only screen and (max-width: 1200px) {
  .titulo-pagina {
    padding-left: 0px;
  }
}

@import "./base/colors.scss";
@import "./components/header";
@import "./components/index";
@import "./components/footer";
@import "./components/directiva";
@import "./components/nav-paginas";
@import "./components/nav-index";
@import "./components/contacto";
